%h1 Listing teams

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @teams.each do |team|
      %tr
        %td= team.name
        %td= link_to 'Show', cms_team_path(team)
        %td= link_to 'Edit', edit_cms_team_path(team)
        %td= link_to 'Destroy', team, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Team', new_cms_team_path
